[Desktop Entry]
Type=Application
Name=Helwan Command Runner
Comment=Learn Helwan Linux commands through gameplay
# استخدم الـ binary اللي إنت عملته في /usr/bin لضمان تنفيذ الـ cd أولاً
Exec=hel-cmd-runner
Icon=helwan-runner
Terminal=false
Categories=Game;Education;
Keywords=helwan;linux;
